@import 'varriables/varriable';

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    font-family: $fontFamily;
}

.header{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    &__top-content{
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        align-items: center;
        cursor: pointer;
    }

    &__top-text{
        font-size: 14px;
        font-weight: normal;
        text-decoration: none;
    }

    &__top-icon{
        display: flex;
        align-items: center;
        font-size: 16px;
    }


    &__bottom-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom-left{
        display: flex;
        align-items: center;
    }

    &__logo{
        max-width: 125px;
        width: 100%;
        margin-right: 48px;
    }

    &__bottom-text-wrap{

        padding-bottom: 4px;
        font-size: 14px;
        line-height: 42px;
    }

    &__bottom-text{
        text-decoration: none;
        margin-right: 32px;
        font-weight: 600;
        color: #222;
    }
}

